.btn {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.2rem;
    padding: 22px 39px;
    cursor: pointer;
    border: 1.4px solid #458ff6;
    border-radius: 55px;
    background: transparent;
    color: $primary4;
    position: relative;
    transition: all 0.4s ease;

    &--blue {
        font-size: 1.9rem;
        line-height: 3rem;
        background: $primary4;
        color: $white;

        &:hover {
            opacity: 0.5;
        }
    }

    &:active {
        top: 1px;
    }

    &:hover {
        background: $primary4;
        color: $white;
    }
}
