.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3rem;
    color: $primary1;
    white-space: nowrap;

    img {
        margin-right: 12px;
    }

    &__title {
        transition: all 0.3s ease;
        &:hover {
            color: $primary4;
        }
        &--light {
            color: $white;
            transition: all 0.3s;

            &:hover {
                color: $black;
            }
        }
    }
}
