.nav {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: $nav-text-color;

    &__link {
        white-space: nowrap;
        color: inherit;
        cursor: pointer;
    }
}
