.header {
    padding-top: 56px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: flex;
        margin-right: 20px;
    }

    &__logo img {
        margin-right: 12px;
    }
    &__nav-items {
        display: flex;
        align-items: center;
    }
    &__nav-item:not(:last-child) {
        margin-right: 41px;
    }

    &__nav-link {
        opacity: 0.5;
        transition: all 0.3s ease;

        &--active {
            padding: 0 5px 19px;
            color: $navActive-link-color;
            opacity: 1;
            position: relative;
            border-bottom: 2px solid currentColor;
        }
        &:hover {
            color: $black;
            opacity: 1;
        }
    }
}
