.leading {
    padding-bottom: 124px;
    &__img-box {
        max-width: 665px;
        margin-right: 30px;

        img {
            width: 100%;
        }
    }
    &__info-block {
        max-width: 455px;
    }

    &__text {
        margin-bottom: 37px;
    }
}
